.child-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 34%;
    top: 0;
    right: 0;
    font-size: 16px;
}

.product-item {
    flex-basis: 14%;
    flex-grow: 0;
}

.title, .price {
    font-size: 24px;
    text-align: center;
    font-family: GeosansLight;
    text-transform: uppercase;
}

.price {
    font-family: "Myriad Pro";
    font-size: 18px;
}

.item,
.sub-item {
    z-index: 10;
    width: 56vh;
    height: 100%;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    display: inline-block;
    position: relative;
    background-color: #fff;
}
.sub-item {
    text-align: center;
    background-color: #f5f5f3;
}
.item .bg-img {
    height:100vh;
    width: auto;
}
.sub-item .gr {
    margin-top: 40px;
    max-width: 30%;
}
.sub-item .img {
    max-width: 70%;
}
.sub-item .price {

}
.price-col {
    position: absolute;
    right: 10px;
    top: 5vh;
    height: 800px;
    width: 34%;
}
.sub-item .price,
.price-col .price {
    height: 12vh;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}
.sub-item .price span,
.price-col .price span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-family: GeosansLight;
    text-transform: uppercase;
    line-height: 1;
}
.sub-item .price b,
.price-col .price b {
    font-family: "Myriad Pro";
    font-size: 18px;
    margin-top: 15px;
}
.sub-item .description {
    text-align: left;
    font-size: 24px;
    font-family: GeosansLight;
    margin: 0 auto;
    width: 70%;
    margin-top: 40px;
}
.sub-item .price span {
    font-size: 36px;
    max-width: 70%;
    margin: 0 auto;
}
.sub-item .price b {
    font-size: 50px;
}
